.container-content {
  display: flex;
  align-items: center;

  .poster {
    padding: 0px;
    width: 300px;
    margin-right: 40px;
    box-shadow: $shadow;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .wrap-title {
    margin-bottom: 20px;
    .title {
      font-family: $font-body;
      font-size: 1.2rem;
      font-weight: 600;
    }
    .original {
      color: $color-font;
      font-family: $font-title;
      font-size: 2.2rem;
      font-weight: 400;
    }
  }

  .ul-genre {
    display: flex;
    li {
      margin-right: 1rem;
    }
  }

  .rate-number {
    font-size: 0.7rem;
  }

  .circular-chart {
    display: flex;
    width: 70px;
    height: 70px;
    display: block;
    margin: 10px 0;
    max-width: 80%;
    max-height: 250px;
  }

  .circle {
    stroke: $blue;
    fill: none;
    stroke-width: 4;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }

  .circle-bg {
    stroke: $color-font2;
    fill: none;
    stroke-width: 4;
    stroke-linecap: round;
  }
}

.img-result {
  margin-top: 2rem;

  .still {
    width: 100%;
  }

  .img-pagination {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;

    .pagination {
      display: flex;
    }

    .slide-button {
      display: flex;
      align-items: center;
      font-size: 2rem;
      color: $color-font2;

      &:hover {
        cursor: pointer;
        color: $color-font;
      }
    }

    .slide-page {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
    }
  }
}

@include respond-to(mobile) {
  .container-content {
    flex-direction: column;
    .info {
      padding: 30px 0 0;
    }

    .poster {
      padding: 0px;
      margin: 0;
      width: 250px;
    }
  }
}
