.bg-signup {
  background: {
    image: url('../styles/images/signup.png');
    size: 35rem;
    position: 20% bottom;
    repeat: no-repeat;
  }
}

.bg-signin {
  background: {
    image: url('../styles/images/signin.png');
    size: 35rem;
    position: 80% bottom;
    repeat: no-repeat;
  }
}

.bg-side {
  background: {
    image: url('../styles/images/stand2.png');
    size: 40%;
    position: 70% 99%;
    repeat: no-repeat;
  }
}

.bg-streaming {
  background: {
    image: url('../styles/images/streaming.png');
    size: 25rem;
    position: right bottom;
    repeat: no-repeat;
  }
}

.bg-review {
  padding-bottom: 200px;
  background: {
    image: url('../styles/images/review.png');
    size: 27rem;
    position: right bottom;
    repeat: no-repeat;
  }
}

.bg-myreview {
  background: {
    image: url('../styles/images/myreview.png');
    size: 9.5rem;
    position: right 100%;
    repeat: no-repeat;
  }
}

.bg-new-review {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  background: {
    image: url('../styles/images/streaming.png');
    size: 23rem;
    position: center bottom;
    repeat: no-repeat;
  }
}

.bg-top {
  background-image: linear-gradient(
    to right,
    rgba(245, 245, 246, 1),
    rgba(245, 245, 246, 0.99),
    rgba(245, 245, 246, 0.99),
    rgba(245, 245, 246, 0.75),
    rgba(245, 245, 246, 0.94),
    rgba(245, 245, 246, 1)
  );
}

.bg-detail {
  background-size: auto 100%;
  background-position: 100% bottom;
  background-repeat: no-repeat;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-skyblue {
  background-color: #d3e2f2;
}

.bg-grey {
  background-color: #f5f5f6;
}

.bg-blue {
  background-color: $blue;
}

.bg-mint {
  background-color: #a7dae4;
}

.bg-white {
  background-color: #ffffff;
}

.bg-black {
  background-color: #141414;
  color: #ffffff;
}

.bg-card-logo {
  background: {
    color: white;
    image: url('../styles/images/logo.svg');
    size: 10rem;
    position: right 120%;
    repeat: no-repeat;
  }
}

.넷플,
.넷플릭스,
.NETFLIX {
  color: #ffffff;
  background: {
    color: #8c0a00;
    image: url('../styles/images/netflix.png');
    size: 20rem;
    position: 50% 300%;
    repeat: no-repeat;
  }
}

.왓챠,
.WATCHA {
  color: #ffffff;
  background: {
    color: #000000;
    image: url('../styles/images/watcha.jpg');
    size: 20rem;
    position: 50% 230%;
    repeat: no-repeat;
  }
}

.아마존,
.아마존프라임,
.AMAZON {
  color: #000000;
  background: {
    color: #ffffff;
    image: url('../styles/images/amazonprime.png');
    size: 15rem;
    position: 50% 120%;
    repeat: no-repeat;
  }
}

.WAVV,
.웨이브 {
  color: #000000;
  background: {
    color: #ffffff;
    image: url('../styles/images/wavv.png');
    size: 13rem;
    position: 50% 180%;
    repeat: no-repeat;
  }
}

.TVING,
.티빙 {
  color: #ffffff;
  background: {
    color: #ff1d3c;
    image: url('../styles/images/tving.jpeg');
    size: 13rem;
    position: 50% 130%;
    repeat: no-repeat;
  }
}

.YOUTUBE,
.유튜브 {
  color: #000000;
  background: {
    color: #ffffff;
    image: url('../styles/images/youtube.jpg');
    size: 13rem;
    position: 50% 110%;
    repeat: no-repeat;
  }
}

.bg-index {
  background: {
    image: url('../styles/images/index.png');
    size: 30rem;
    position: right bottom;
    repeat: no-repeat;
  }
}

.netflix-mini {
  color: #ffffff;
  background: {
    color: #8c0a00;
    image: url('../styles/images/netflix.png');
    size: 13rem;
    position: 50% 230%;
    repeat: no-repeat;
  }
}

.watcha-mini {
  color: #ffffff;
  background: {
    color: #000000;
    image: url('../styles/images/watcha.jpg');
    size: 15rem;
    position: 50% 230%;
    repeat: no-repeat;
  }
}

@include respond-to(mobile) {
  .bg-signup {
    background: {
      size: 20rem;
      position: 50% bottom;
    }
    min-height: 750px;
  }

  .bg-signin {
    background: {
      size: 25rem;
      position: 50% bottom;
    }
    min-height: 700px;
  }

  .bg-index {
    min-height: 330px;
    background: {
      size: 18rem;
      position: 50% bottom;
    }
  }

  .bg-streaming {
    min-height: 330px;
    background: {
      image: url('../styles/images/streaming.png');
      size: 15rem;
      position: right bottom;
      repeat: no-repeat;
    }
  }

  .bg-review {
    padding-bottom: 150px;
    background: {
      size: 23rem;
      position: 50% bottom;
    }
  }

  .bg-new-review {
    background: {
      size: 18rem;
    }
  }

  .bg-top {
    background-image: linear-gradient(
      to bottom,
      rgba(245, 245, 246, 1),
      rgba(245, 245, 246, 1),
      rgba(245, 245, 246, 0.99),
      rgba(245, 245, 246, 0.85),
      rgba(245, 245, 246, 0.64),
      rgba(245, 245, 246, 0.5)
    );
  }

  .bg-detail {
    background-size: auto 60%;
    background-position: 50% bottom;
  }

  .netflix-mini {
    color: #ffffff;
    background: {
      color: #8c0a00;
      size: 10rem;
      position: 50% 230%;
      repeat: no-repeat;
    }
  }

  .watcha-mini {
    color: #ffffff;
    background: {
      color: #000000;
      size: 10rem;
      position: 50% 230%;
      repeat: no-repeat;
    }
  }
}
